.main-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    -unity-text-align: middle-left;
    padding: 15px 110px 0 70px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    font-size: 96px;
    width: auto;
    min-width: 200px;
    white-space: nowrap;
    -unity-font: url("project://database/Assets/Game/Fonts/Staatliches/Staatliches-Regular.ttf?fileID=12800000&guid=de76ae79157774ce6a07b6f922f88162&type=3#Staatliches-Regular");
    -unity-font-definition: url("project://database/Assets/Game/Fonts/Staatliches/Staatliches-Regular%20SDF.asset?fileID=11400000&guid=66e9001eb2939944d92c30a13636d448&type=2#Staatliches-Regular SDF");
    margin: 0;
    background-image: url("project://database/Assets/Game/Textures/UI/Stylized_Rect.png?fileID=21300000&guid=7441466fba5b1c2459946fb4a8831e99&type=3#Stylized_Rect");
    -unity-slice-scale: 0.26px;
    -unity-font-style: normal;
}

.main-button:focus {
    background-image: url("project://database/Assets/Game/Textures/UI/Stylized_Rect_Dark_Accent_Red.png?fileID=21300000&guid=f988c8af8a4f9684fa39f89223755b31&type=3#Stylized_Rect_Dark_Accent_Red");
    color: rgb(255, 255, 255);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.main-button:active {
    color: rgb(227, 227, 227);
    -unity-background-image-tint-color: rgb(109, 109, 109);
}

.title {
    -unity-font: url("project://database/Assets/Game/Fonts/Bungee/Bungee-Regular.ttf?fileID=12800000&guid=54e13d4e4669648129887a70f5d4d35e&type=3#Bungee-Regular");
    -unity-font-definition: url("project://database/Assets/Game/Fonts/Bungee/Bungee-Regular%20SDF.asset?fileID=11400000&guid=99fb41fc3d112754faf47e34e38852f6&type=2#Bungee-Regular SDF");
    font-size: 96px;
}
